@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight/OpenSansLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansLight/OpenSansLight.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 400;
       font-style: normal;
}